# Попрактикуемся использовать Pandas и проводить базовый эксплоративный анализ (EDA)

У вас есть набор данных, взятый из откртых источников. Набор данных представляет с собой статистический опрос о размере годового дохода жителей.
Необходимо ответить на поставленные вопросы.

Характеристика столбцов датафрейма

-> age: continuous.

-> workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

-> fnlwgt: continuous.

-> education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

-> education-num: continuous.

-> marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.

-> occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

-> relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

-> race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

-> sex: Female, Male.

-> capital-gain: continuous.

-> capital-loss: continuous.

-> hours-per-week: continuous.

-> native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France,
Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../files/adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Сколько мужчин и женщин (sex column) представлено в наборе данных?

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

# Найдите средний возраст для женщин? Найдите средний возраст для мужчин?

# Какова доля граждан Италии?

# Каково среднее значение и стандартное отклонение возраста тех, кто получает более 50К в год  и тех, кто получает менее 50К в год?

# Подсчитайте среднее время работы тех, кто зарабатывает мало и много для каждой страны.