# <center> **Модуль 10. Лекция 1: Работа с BigData. Apache Spark.** </center>
----
<br>
</br>

<center> <img src=./../src/imgs/intro_img.png> </center>

<br>
</br>

----

## __План на сегодня:__

----

### 1. __Big Data и зачем всё это нужно.__
### 2. __Apache Spark для работы с большими данными.__
### 3. __MLlib Apache Spark и как обучать модели на основе больших данных (Опционально).__
### 4. __Практика и еще раз практика.__
### 5. __Q&A__.

---

# Часть 1. Big Data и зачем всё это нужно. Фреймворк Apache Spark для работы с большими данными.

---

<br>
</br>

<center> <img src=./../src/imgs/spark_ecosystem.png> </center>

<br>
</br>

__Как анализировать и работать с большими данными?__

<br>
</br>

* В 2004 году выходит статья про __MapReduce__ от Google.
* В 2006 году Doug Cutting проектирует экосистему Hadoop вместе с Yahoo!
* В 2008 году Hadoop становится top-level проектом под экосистемой __Apache__ и технология MapReduce интегрируется в Hadoop.

<br>
</br>

Но тогда было пару проблем, связанных с технологией MapReduce:
- Медлительность
- Сложность

<br>
</br>

<center> <img src=./../src/imgs/speed_mr.png> </center>

<br>
</br>

И уже в 2009 году появляется проект Spark, который взял всё лучшее и оптимизровал работу экосистемы для работы с большими данными и в 2014 году он становится полностью open-source для того, чтобы технология могла развиваться и использоваться повсеместно.

<br>
</br>

__Немного поговорим о том, что такое Apache Spark и что это такое и где это нужно.__
Apache Spark - это быстрый и мощный фреймворк для обработки больших данных. Apache Spark помогает быстро и эффективно обрабатывать большие массивы структурированных и неструктурированных данных и проводить аналитику, искать ответы на сложные вопросы при помощи данных, а также строить модели машинного обучения используя большие массивы данных.

<br>
</br>

Условно сам Apache Spark написан на языке программирования Scala и сам Spark поддерживает API для нескольких языков, которые очень популярны при работе с анализом данных и в машинном обучении:
- Scala
- Java
- Python
- C/C++ (только для подмодуля RDDs)
- R

<br>
</br>

<center> <img src=./../src/imgs/spark_api.png> </center>

<br>
</br>

Весь Apache Spark состоит из 4-х подмодулей:
1. Spark SQL - ETL процедуры, ad-hoc аналитика и процессинг данных.
2. Spark Streaming - стриминг потоковых данных (Data Engineering часть), анализа данных в режиме реального времени (real-time)
3. MLlib - для обучения моделей машинного обучения на больших данных. Постоянно развивается и дополняется новыми алгоритмами.
4. GraphX - для графовых алгоритмов и для работы с графовыми структурами данных. Аналог NetworkX - отдельной библиотеки для экосистемы Python для работы с графами.

<br>
</br>

Для чего вам может понадобиться такой инструмент как Apache Spark?

<br>
</br>

В качестве ответа на вопрос __Зачем?__ рассмотрим гипотетический пример:

Допустим, что у нас имеются логи мобильного приложения (игры) и пользователях этого приложения (какие действия они совершали, что делали и когда и т.д.). Хранится это все локально либо на сервере в виде файлов. К нам пришли и попросили для целей аналитики посчитать среди этого огромного количества данных __количество уникальных визитов за каждый день__. Что будем делать, варианты:

- __1GB данных__ - всё просто - pandas в помощь.
- __10GB данных__ - уже проблематично, но можно справиться - берем комп помощнее, pandas и вперед.
- __100GB данных__  - 0_o?
- __1000GB данных__ - 0_о?



Если вы будете работать с огромным массивом информации, то в роли Data Scientist/ML Engineer/Analyst вам необходимо будет использовать весь такой огромный массив информации ради того, чтобы выполнить свою задачу. Обычными инструментами это сделать проблематично, поэтому на помощь всегда придет Spark.

В задачах Data Science используется для:
1. Препроцессинга данных и построения ETL.
2. Обучения моделей машинного обучения.
3. Анализ данных и поиск ответов на вопросы.

<br>
</br>

Основа работы Spark - это __распределенные вычисления__:

<br>
</br>

<center> <img src=./../src/imgs/distributed_processing.png> </center>

<br>
</br>

Окей, что ещё за распределенные вычисления и как они работают?

<br>
</br>

__Apache Spark__:
- Установлен на каждой ноде кластера
- Между нодами есть сетевое соединение
- Spark знает о других нодах и держит их на "связи"

<br>
</br>

Таким образом весь процесс можно выразить при помощи следующей архитектуры:

<br>
</br>

<center> <img src=./../src/imgs/spark_nodes.png> </center>

<br>
</br>

__Установка и работа со Spark__:

Нужен ли Hadoop чтобы запускать Spark (мы ведь работаем в другой экосистемой) - нет (но с ним много интеграций)Ж

<br>
</br>

<center> <img src=./../src/imgs/hadoop_integrations.png> </center>

<br>
</br>

---

# Практика 1. Установка и настройка Apache Spark.

---

<br>
</br>

Установка может производится локально:
1. ```pip install pyspark``` создаем виртуальное окружение и устанавливаем при помощи пакетного менеджера pip.
2. Jupyter + Spark в Docker контейнере.
3. Google Collab.

<br>
</br>

__Attention! В ОС Windows чаще всего происходят сбои и неполадки с движком PySpark API поэтому для лучшей воспроизводимости и закрепления материала запускается это всё на UNIX-подобных ОС либо в Google Collab.__

<br>
</br>

1. __Установка PySpark локально при помощи пакетного менеджера pip__:

<br>
</br>

Что вам нужно:
* Python >= 3.6
* Установленная Java/OpenJDK версии >= 11.x.x Как проверить установку из терминала для __Linux/macOS__:

<br>
</br>

  ```
    $ java -version

    openjdk version "x.x.x" YYYY-MM-DD
    OpenJDK Runtime Environment (build xx.x.x)
    OpenJDK 64-Bit Server VM (build xx.x.x, mixed mode, sharing)
  ```

<br>
</br>

* Создаем виртуальное окружение Python (либо используем автоматизированный процесс в PyCharm):

<br>
</br>

```
python3 -m venv venv
```

<br>
</br>

* Активируем окружение:

<br>
</br>

```
source venv/bin/activate
```

<br>
</br>

* Устанавливаем PySpark при помощи pip:

<br>
</br>

```
(venv) pip install pyspark
```

<br>
</br>


2. __Установка PySpark при помощи Docker (про Docker чуть позже), чтобы знали__:

<br>
</br>

* Необходимо установить [Docker](https://www.docker.com/)
* Взять [образ Jupyter Notebook](https://jupyter-docker-stacks.readthedocs.io/en/latest/index.html) c установленным Apache Spark
* Запускаем контейнер в интерактивном режиме на 8888 порту

<br>
</br>

  ```
docker run -it -p 8888:8888 -p 4040:4040 -v $(pwd):/home/work/jupyter/pyspark-notebook
  ```

<br>
</br>

Как закончили работу основить контейнер можно при помощи __CMD + C__ (CTRL + C).

3. __Запуск Apache Spark внутри Google Collab ноутбука:__


* Копируем себе ноутбук ```https://colab.research.google.com/drive/1WAS4NQh2eAILZqhrS5RzilQPgvwH1ZtV?usp=sharing```
* Выполняем инструкции которые я описал в ноутбуке для работы (проверьте версию установочного дистрибутива PySpark на всякий случай)

__Существует 2 режима работы Spark__:

<br>
</br>

1. Интерактивный (REPL)
    - spark-shell (Scala)
    - pyspark (Python)
    - sparkr (R)

<br>
</br>

2. Как отдельная программа (standalone program)
    - spark-submit (.jar, .py, .r)

<br>
</br>

Ну и какого лешего мне этот PySpark сдался или что можно делать в PySpark:

<br>
</br>

Типичная задача на практике выглядит следующим образом:

<br>
</br>

<center> <img src=./../src/imgs/typical_task_pyspark.png> </center>

<br>
</br>


Рассмотрим основные компоненты работы PySpark приложения:

- __SparkSession__ - ваша точка входа в Spark API, инициализация происходит при помощи команды `spark = SparkSession.builder.getOrCreate()`
- __Несколько видов абстракции данных__:
    * RDD - Resilient Distributed Dataset
        * Распределенный датасет
        * Устойчив к ошибкам
        * Исторически связан с представлением данных в Hadoop
        * Труден в понимании и использовании если вы не Data Engineer/Администратор БД
    * Dataset
        * Строго типизированный RDD
        * Не доступен в Python
    * DataFrame - то с чем мы будем работать

<br>
</br>

__DataFrame__ - это DataSet организованный в виде tuple структуры данных. Очень похож на Pandas DataFrame.
- Состовит из строк и колонок
- Имеет очень удобный и понятный API особенно для тех кто знаком с SQL
- Был придуман как часть модуля [SparkSQL](https://www.databricks.com/glossary/what-is-spark-sql)
- Вместо DataFrame API можно писать SQL-подобные запросы и вычисления

<br>
</br>

__Процесс чтения данных в DataFrame__:

`spark.read`
-    .format("csv") - json, parquet, avro, orc, jdbc ...
-    .schema(schema_object) - optional, schema discovery by default
-    .option(key, value) - ("header", "true"), optional
-    .load(path) - в некоторых случаях "path" является optional

Пример использования:

`spark.read.csv("./path/to/file/file.csv", header=True)`

<br>
</br>

[Документация](https://spark.apache.org/docs/latest/sql-data-sources.html)

<br>
</br>

__Трансформируем данные__

- `spark.read` возвращает DataFrame
- DataFrame API
    - очень похож на SQL (select, where, union, join, groupBy, orderBy)
    - методы DataFrame можно составлять в цепочки
- Есть пакет `pyspark.sql.functions` который содержит большое кол-во дополнительных функций
    - помогают расширить функционал DataFrame API
    - тоже заимствованы из SQL
    - поддерживаются оконные функции

<br>
</br>

__Запись данных__

<br>
</br>

`df.write:`
- .mode(SaveMode) - "overwrite", "append", ...
- .format("csv")
- .save(path)

<br>
</br>


__А как в SQL?__

<br>
</br>

- DataFrame можно зарегистрировать как temporary view `df.createOrReplaceTempView(“table_name”)`
- И писать SQL к view: `spark.sql(“select * from table_name where id = 123”)` возвращает DataFrame
- Можно использовать SQL выражения в .where() `df.where(“country = ‘US’ and shipping_date > ‘2023-01-01’”)`

<br>
</br>

__DataFrame API__:

- `df.show(n)`
- `df.filter(condition)`
- `df.count()`
- `df.groupBy(<columns>)`
- `df.withColumnRenamed(<current_name>, <new_name>)`
- `df.printSchema()`
- `df.join(df2, on, how)`
- `df.select(<columns>)`
- `df.where(condition)`
- `df.distinct()`
- `df.agg(<aggregation_functions>)`
- `df.describe()`
- `df.union(df2)`
- `df.limit(n)`
- `df.orderBy(<columns>)`

<br>
</br>

__SQL Functions__:

`import pyspark.sql.functions as F`

- `F.col("name")`
- `F.col().isNull()`
- `F.col() ==, >, >=, <, <=, !=`
- `F.when(cond, then)...when()...otherwise()`
- `F.lit()`
- `F.to_date()`
- `F.col().alias()`
- `F.col().isNotNull()`
- `F.col().between(from, to)`
- `F.date_format(date, format)`
- `df.alias()`
- `F.col().isin()`
- `F.from_unix_time()`

<br>
</br>

__SQL Aggregation and Window Functions__:

- Aggregation Functions:
    - `F.count(<col>)`
    - `F.countDistinct(<column>)`
    - `F.sum() / F.min() / F.max() / F.avg()`
    - `F.first() / F.last()`


- Window Functions:
    - `w = Window.partitionBy(<columns>).orderBy(<columns>)`
    - `F.row_number().over(w)`
    - `F.lag(<columns>).over(w)`
    - `F.lead(<columns>).over(w)`

---

# Практика 2. Потренируемся исследовать данные и строить базовый ETL пайплайн при помощи Apache Spark DataFrame API.

---

Задачи:
1. Загрузить датасет
2. Изучить данные (применим функции вывода, агрегации и тд)
3. Построить базовый ETL пайплайн для обработки и выгрузки данных с локального источника

In [6]:
# создадите SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Practice").getOrCreate()
spark

/Users/maratmovlamov/Desktop/DS_Foundations/venv/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

Чтение csv файла:

In [8]:
!head -n5 ./data/cars.csv

manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,body_type,has_warranty,state,drivetrain,price_usd,is_exchangeable,location_region,number_of_photos,up_counter,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,universal,False,owned,all,10900.0,False,Минская обл.,9,13,False,True,True,True,False,True,False,True,True,True,16
Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,universal,False,owned,all,5000.0,True,Минская обл.,12,54,False,True,False,False,True,True,False,False,False,True,83
Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,suv,False,owned,all,2800.0,True,Минская обл.,4,72,False,True,False,False,False,False,False,False,True,True,151
Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,sedan,False,owned,all,9999.0,True,Минская обл.,9,42,True,False,False,False,False,False,False,False,False,False,86

In [11]:
# прочитайте данные в DataFrame c автоматическим определение схемы:
df = spark.read.format("csv").option("header", "true").load("data/cars.csv")

Посмотрите на данные:

In [12]:
# выведите в консоль 5 строк из датафрейма:
df.show(5)

+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|model_name|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|           Subaru|   Outback|   automatic|silver|        190000|         2010|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  10900.0|          False|   Минская обл.|               9|        13|    False|     True|     True|     True|    False|     True|    False|     True|     True|     True|             16|
|           Subaru|   Outback|   automatic|  blue|        290000|         2002|   gasoline|         False|   gasoline|            3.0|universal|       False|owned|       all|   5000.0|           True|   Минская обл.|              12|        54|    False|     True|    False|    False|     True|     True|    False|    False|    False|     True|             83|
|           Subaru|  Forester|   automatic|   red|        402000|         2001|   gasoline|         False|   gasoline|            2.5|      suv|       False|owned|       all|   2800.0|           True|   Минская обл.|               4|        72|    False|     True|    False|    False|    False|    False|    False|    False|     True|     True|            151|
|           Subaru|   Impreza|  mechanical|  blue|         10000|         1999|   gasoline|         False|   gasoline|            3.0|    sedan|       False|owned|       all|   9999.0|           True|   Минская обл.|               9|        42|     True|    False|    False|    False|    False|    False|    False|    False|    False|    False|             86|
|           Subaru|    Legacy|   automatic| black|        280000|         2001|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  2134.11|           True|Гомельская обл.|              14|         7|    False|     True|    False|     True|     True|    False|    False|    False|    False|     True|              7|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 5 rows

Дополнительный параметр `vertical=True` выведет каждую строку данных построчно в виде колонка | значение

In [13]:
df.show(1, vertical=True)

-RECORD 0-------------------------
 manufacturer_name | Subaru
 model_name        | Outback
 transmission      | automatic
 color             | silver
 odometer_value    | 190000
 year_produced     | 2010
 engine_fuel       | gasoline
 engine_has_gas    | False
 engine_type       | gasoline
 engine_capacity   | 2.5
 body_type         | universal
 has_warranty      | False
 state             | owned
 drivetrain        | all
 price_usd         | 10900.0
 is_exchangeable   | False
 location_region   | Минская обл.
 number_of_photos  | 9
 up_counter        | 13
 feature_0         | False
 feature_1         | True
 feature_2         | True
 feature_3         | True
 feature_4         | False
 feature_5         | True
 feature_6         | False
 feature_7         | True
 feature_8         | True
 feature_9         | True
 duration_listed   | 16
only showing top 1 row

Функционал DataFrame API и работа с ним.

`.select()`
`.select()` - выбирает только необходимые колонки (аналог `SELECT <column_names> FROM <db.name>` в SQL):

In [15]:
# выберите несколько колонок для отображения
df.select("manufacturer_name", "model_name", "color").show(5)

+-----------------+----------+------+
|manufacturer_name|model_name| color|
+-----------------+----------+------+
|           Subaru|   Outback|silver|
|           Subaru|   Outback|  blue|
|           Subaru|  Forester|   red|
|           Subaru|   Impreza|  blue|
|           Subaru|    Legacy| black|
+-----------------+----------+------+
only showing top 5 rows

Можно обратиться к колонке через указание датафрейма:

In [17]:
df.select(df["manufacturer_name"], df["model_name"], df["color"]).show(5)

+-----------------+----------+------+
|manufacturer_name|model_name| color|
+-----------------+----------+------+
|           Subaru|   Outback|silver|
|           Subaru|   Outback|  blue|
|           Subaru|  Forester|   red|
|           Subaru|   Impreza|  blue|
|           Subaru|    Legacy| black|
+-----------------+----------+------+
only showing top 5 rows

Или используя функцию колонки .col() из пакета functions

In [18]:
import pyspark.sql.functions as F

df.select(F.col("manufacturer_name"), F.col("model_name"), F.col("color")).show(5)

+-----------------+----------+------+
|manufacturer_name|model_name| color|
+-----------------+----------+------+
|           Subaru|   Outback|silver|
|           Subaru|   Outback|  blue|
|           Subaru|  Forester|   red|
|           Subaru|   Impreza|  blue|
|           Subaru|    Legacy| black|
+-----------------+----------+------+
only showing top 5 rows

`.filter()`
Метод `.filter()` принимает условия для фильтрации (аналог `SELECT <column_names> FROM <db.name> WHERE <column_name> <EXPRESSION>` в SQL)

In [19]:
# выберите только марки Lexus
df.select("manufacturer_name", "model_name", "color").filter("color = 'red'").show(5)

+-----------------+----------+-----+
|manufacturer_name|model_name|color|
+-----------------+----------+-----+
|           Subaru|  Forester|  red|
|           Subaru|     Justy|  red|
|           Subaru|    Legacy|  red|
|           Subaru|  Forester|  red|
|           Subaru|    Legacy|  red|
+-----------------+----------+-----+
only showing top 5 rows

In [21]:
df.select("manufacturer_name", "model_name", "color").filter('manufacturer_name = "Lexus"').show(5)

+-----------------+----------+-----+
|manufacturer_name|model_name|color|
+-----------------+----------+-----+
|            Lexus|        ES|black|
|            Lexus|        RX|black|
|            Lexus|        RX|white|
|            Lexus|        ES|black|
|            Lexus|        RX|black|
+-----------------+----------+-----+
only showing top 5 rows

Цепочка условий:

In [27]:
(
    df
    .select("manufacturer_name", "model_name", "transmission")
    .filter("manufacturer_name = 'Audi'")
    .filter("transmission = 'mechanical'")
    .show(5)
)

+-----------------+----------+------------+
|manufacturer_name|model_name|transmission|
+-----------------+----------+------------+
|             Audi|       100|  mechanical|
|             Audi|A6 Allroad|  mechanical|
|             Audi|       100|  mechanical|
|             Audi|        A4|  mechanical|
|             Audi|        80|  mechanical|
+-----------------+----------+------------+
only showing top 5 rows

Цепочка условий в виде одного SQL выражения:

In [28]:
(
    df
    .select("manufacturer_name", "model_name", "transmission")
    .filter("manufacturer_name = 'Audio' or manufacturer_name = 'Lexus'")
    .show(5)
)

+-----------------+----------+------------+
|manufacturer_name|model_name|transmission|
+-----------------+----------+------------+
|            Lexus|        ES|   automatic|
|            Lexus|        RX|   automatic|
|            Lexus|        RX|   automatic|
|            Lexus|        ES|   automatic|
|            Lexus|        RX|   automatic|
+-----------------+----------+------------+
only showing top 5 rows

Удобнее и логичнее использовать `col()` для составления условий фильтрации:

In [30]:
(
    df
    .select("manufacturer_name", "model_name", "transmission")
    .filter(F.col("manufacturer_name") == "Audi")
    .filter(F.col("transmission") != 'mechanical')
    .show(5)
)

+-----------------+----------+------------+
|manufacturer_name|model_name|transmission|
+-----------------+----------+------------+
|             Audi|        Q7|   automatic|
|             Audi|        TT|   automatic|
|             Audi|        A6|   automatic|
|             Audi|        Q3|   automatic|
|             Audi|        Q5|   automatic|
+-----------------+----------+------------+
only showing top 5 rows

`.count()`
Подсчет кол-ва строк:

In [31]:
df.count()

38531

Либо уникальных строк:

In [32]:
df.select("manufacturer_name").distinct().count()

55

`.groupBy()` и `.orderBy()`
Группировка и агрегация (аналог `GROUP BY` и `ORDER BY` в SQL):

In [33]:
# сгрупировать по manufacturer_name и посчитать кол-во каждого
df.groupby("manufacturer_name").count().show(5)

+-----------------+-----+
|manufacturer_name|count|
+-----------------+-----+
|       Volkswagen| 4243|
|            Lexus|  213|
|           Jaguar|   53|
|            Rover|  235|
|           Lancia|   92|
+-----------------+-----+
only showing top 5 rows

Сортировка по колонке по возрастанию:

In [34]:
df.groupby("manufacturer_name").count().orderBy('count').show(5)

+-----------------+-----+
|manufacturer_name|count|
+-----------------+-----+
|          Lincoln|   36|
|       Great Wall|   36|
|          Pontiac|   42|
|              ЗАЗ|   42|
|         Cadillac|   43|
+-----------------+-----+
only showing top 5 rows

Сортировка по колонке по убыванию. Важно явно задать колонку через col() иначе не получится:

In [35]:
df.groupby("manufacturer_name").count().orderBy(F.col("count").desc()).show(5)

+-----------------+-----+
|manufacturer_name|count|
+-----------------+-----+
|       Volkswagen| 4243|
|             Opel| 2759|
|              BMW| 2610|
|             Ford| 2566|
|          Renault| 2493|
+-----------------+-----+
only showing top 5 rows

`.withColumnRenamed()` и `.withColumn()`
Переименовать существующую колонку:

In [36]:
df.withColumnRenamed("manufacturer_name", "manufacturer").select("manufacturer").show(5)

+------------+
|manufacturer|
+------------+
|      Subaru|
|      Subaru|
|      Subaru|
|      Subaru|
|      Subaru|
+------------+
only showing top 5 rows

Создать новую колонку. Первый аргумент это название новой колонки, второй агрумент это выражение (обязательно использовать col() если ссылаемся на другую колонку):

In [40]:
df.withColumn("next_year", F.col("year_produced") + 1).select("year_produced", "next_year").show(5)

+-------------+---------+
|year_produced|next_year|
+-------------+---------+
|         2010|   2011.0|
|         2002|   2003.0|
|         2001|   2002.0|
|         1999|   2000.0|
|         2001|   2002.0|
+-------------+---------+
only showing top 5 rows

`.printSchema()` и `.describe()`
Вывести схему датафрейма (типы колонок):

In [41]:
df.printSchema()

root
 |-- manufacturer_name: string (nullable = true)
 |-- model_name: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- color: string (nullable = true)
 |-- odometer_value: string (nullable = true)
 |-- year_produced: string (nullable = true)
 |-- engine_fuel: string (nullable = true)
 |-- engine_has_gas: string (nullable = true)
 |-- engine_type: string (nullable = true)
 |-- engine_capacity: string (nullable = true)
 |-- body_type: string (nullable = true)
 |-- has_warranty: string (nullable = true)
 |-- state: string (nullable = true)
 |-- drivetrain: string (nullable = true)
 |-- price_usd: string (nullable = true)
 |-- is_exchangeable: string (nullable = true)
 |-- location_region: string (nullable = true)
 |-- number_of_photos: string (nullable = true)
 |-- up_counter: string (nullable = true)
 |-- feature_0: string (nullable = true)
 |-- feature_1: string (nullable = true)
 |-- feature_2: string (nullable = true)
 |-- feature_3: string (nullable = true)
 |-- feature_4: string (nullable = true)
 |-- feature_5: string (nullable = true)
 |-- feature_6: string (nullable = true)
 |-- feature_7: string (nullable = true)
 |-- feature_8: string (nullable = true)
 |-- feature_9: string (nullable = true)
 |-- duration_listed: string (nullable = true)

In [42]:
df.schema

StructType(List(StructField(manufacturer_name,StringType,true),StructField(model_name,StringType,true),StructField(transmission,StringType,true),StructField(color,StringType,true),StructField(odometer_value,StringType,true),StructField(year_produced,StringType,true),StructField(engine_fuel,StringType,true),StructField(engine_has_gas,StringType,true),StructField(engine_type,StringType,true),StructField(engine_capacity,StringType,true),StructField(body_type,StringType,true),StructField(has_warranty,StringType,true),StructField(state,StringType,true),StructField(drivetrain,StringType,true),StructField(price_usd,StringType,true),StructField(is_exchangeable,StringType,true),StructField(location_region,StringType,true),StructField(number_of_photos,StringType,true),StructField(up_counter,StringType,true),StructField(feature_0,StringType,true),StructField(feature_1,StringType,true),StructField(feature_2,StringType,true),StructField(feature_3,StringType,true),StructField(feature_4,StringType,true),StructField(feature_5,StringType,true),StructField(feature_6,StringType,true),StructField(feature_7,StringType,true),StructField(feature_8,StringType,true),StructField(feature_9,StringType,true),StructField(duration_listed,StringType,true)))

Вывести сводную статистику по датафрейму:

In [43]:
df.select("manufacturer_name", "model_name", "transmission", "year_produced", "price_usd").describe().show()

+-------+-----------------+------------------+------------+------------------+-----------------+
|summary|manufacturer_name|        model_name|transmission|     year_produced|        price_usd|
+-------+-----------------+------------------+------------+------------------+-----------------+
|  count|            38531|             38531|       38531|             38531|            38531|
|   mean|             null|1168.2918056562726|        null|2002.9437336170874|6639.971021255616|
| stddev|             null| 9820.119520829547|        null| 8.065730511309367|6428.152018202914|
|    min|            Acura|               100|   automatic|              1942|              1.0|
|    max|              УАЗ|            Таврия|  mechanical|              2019|           9999.0|
+-------+-----------------+------------------+------------+------------------+-----------------+

In [44]:
# Остановите процесс Spark Session и закончите работу с сессией
spark.stop()

__Ваша задача - реализовать пайплайн обработки файла `cars.csv`__

Необходимо посчитать по каждому производителю (dimension - `manufacturer_name`):
1. Количество объявлений (записей в csv)
2. Средний год выпуска автомобилей (нелогично но закрепить можно)
3. Минимальную цену автомобиля
4. Максимальную цену автомобиля

Выгрузить результат вычислений в `output.csv`

In [46]:
from pyspark.sql import SparkSession, DataFrame
import pyspark.sql.functions as F
import pyspark.sql.types as t


def extract_data(spark: SparkSession) -> DataFrame:
    path = "data/cars.csv"
    return spark.read.option("header", "true").csv(path)


def transform_data(df: DataFrame) -> DataFrame:
    output = (
        df
        .groupby("manufacturer_name")
        .agg(
            F.count("manufacturer_name").alias("count_ads"),
            F.round(F.avg("year_produced")).cast(t.IntegerType()).alias("avg_year_produced"),
            F.min("price_usd").alias("min_price"),
            F.max("price_usd").alias("max_price"),
        )
        .orderBy(F.col("count_ads").desc())
    )
    return output


def save_data(df: DataFrame) -> None:
    df.coalesce(4).write.mode("overwrite").format("json").save("output.json")


def main():
    spark = SparkSession.builder.appName("Practice").getOrCreate()
    df = extract_data(spark)
    output = transform_data(df)
    save_data(output)
    spark.stop()

main()

__Резюме и общие принципы Spark приложения:__
1. Data is not mutable - исходные данные которые вы загружаете в датафрейм не меняются.
2. Ленивые вычисления - что-то считается только тогда, когда запрашивается конечный результат.
3. Spark распределенный - будьте аккуратны с чтением БД, API и следите за объемом потребляемых данных особенно если работаете в облаке.
4. Всегда придерживайтесь функционального стиля (чистые и понятные функции по принципу in >> out)
5. Batch Processing
6. Spark устойчив к локальным ошибкам (не надо писать recovery code, достаточно работать с партишенами).
7. PySpark может использовать __любой внешний пакет__ Python (только надо установить его на всех нодах либо отправить вместе с кодом - __использование не Spark API может сильно замедлить программу__)
8. Используйте __SQL functions__ по максимуму это покажет ваш профессионализм в глазах ваших коллег и стейкхолдеров.

MLlib и LogisticRegression:

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("mllib-logreg").getOrCreate()
sc = spark.sparkContext
sc

In [ ]:
df = spark.read.csv('./data/bank.csv', header = True, inferSchema = True)
df.printSchema()

In [ ]:
import pandas as pd
pd.DataFrame(df.take(5), columns=df.columns).transpose()

Баланс классов

In [ ]:
df.groupby('deposit').count().toPandas()

summary statistics для числовых переменных

In [ ]:
numeric_features = [t[0] for t in df.dtypes if t[1] == 'int']
df.select(numeric_features).describe().toPandas().transpose()

Корреляции

In [ ]:
numeric_data = df.select(numeric_features).toPandas()

axs = pd.plotting.scatter_matrix(numeric_data, figsize=(8, 8));

# Rotate axis labels and remove axis ticks
n = len(numeric_data.columns)
for i in range(n):
    v = axs[i, 0]
    v.yaxis.label.set_rotation(0)
    v.yaxis.label.set_ha('right')
    v.set_yticks(())
    h = axs[n-1, i]
    h.xaxis.label.set_rotation(90)
    h.set_xticks(())

In [ ]:
df = df.select('age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit')
cols = df.columns
df.printSchema()

Подготовка данных для модели:

In [ ]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'poutcome']
stages = []

for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]

label_stringIdx = StringIndexer(inputCol = 'deposit', outputCol = 'label')
stages += [label_stringIdx]

numericCols = ['age', 'balance', 'duration', 'campaign', 'pdays', 'previous']
assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

Pipeline

In [ ]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(df)
df = pipelineModel.transform(df)
selectedCols = ['label', 'features'] + cols
df = df.select(selectedCols)
df.printSchema()

In [ ]:
pd.DataFrame(df.take(5), columns=df.columns).transpose()

In [ ]:
train, test = df.randomSplit([0.7, 0.3], seed = 2018)
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

Logistic Regression Model

In [ ]:

from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(featuresCol = 'features', labelCol = 'label', maxIter=10)
lrModel = lr.fit(train)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

beta = np.sort(lrModel.coefficients)

plt.plot(beta)
plt.ylabel('Beta Coefficients')
plt.show()

In [ ]:
trainingSummary = lrModel.summary

roc = trainingSummary.roc.toPandas()
plt.plot(roc['FPR'],roc['TPR'])
plt.ylabel('False Positive Rate')
plt.xlabel('True Positive Rate')
plt.title('ROC Curve')
plt.show()

print('Training set areaUnderROC: ' + str(trainingSummary.areaUnderROC))

In [ ]:
pr = trainingSummary.pr.toPandas()
plt.plot(pr['recall'],pr['precision'])
plt.ylabel('Precision')
plt.xlabel('Recall')
plt.show()

In [ ]:
f = trainingSummary.fMeasureByThreshold.toPandas()
plt.plot(f['threshold'],f['F-Measure'])
plt.ylabel('F-Measure')
plt.xlabel('Threshold')
plt.show()

In [ ]:
predictions = lrModel.transform(test)
predictions.select('age', 'job', 'label', 'rawPrediction', 'prediction', 'probability').show(10)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

evaluator = BinaryClassificationEvaluator()
print('Test Area Under ROC', evaluator.evaluate(predictions))

In [ ]:
evaluator.getMetricName()

Кросс Валидация

In [ ]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

# Create ParamGrid for Cross Validation
paramGrid = (ParamGridBuilder()
             .addGrid(lr.regParam, [0.01, 0.5, 2.0])
             .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0])
             .addGrid(lr.maxIter, [1, 5, 10])
             .build())

cv = CrossValidator(estimator=lr, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)

cvModel = cv.fit(train)
predictions = cvModel.transform(test)
print('Test Area Under ROC', evaluator.evaluate(predictions))

In [ ]:
evaluator.getMetricName()